// se configuran todos los elementos presentes en registrar.page.html

ion-content {// se definen las caracteristicas del contenido pricipal de la pagina
    --ion-background-color:#3d8af7;
}

ion-header {// se definen las caracteristicas del header principal
    --ion-background-color:#3d8af7;
    position: absolute;
    top: 3%;
    left:30%;
    
  }

ion-col{// se definen las caracteristicas de la columna
    position:absolute;
    top :10%;
    left: 12.5%;
}
ion-row{// se definen las caracteristicas de la fila
    padding-top: 2%;
}


.item_nombre{// se definen las caracteristicas del label nombre
    background-color:#75a9f9;
    --background: #75a9f9;
    //position: absolute;
    //right:12.5%;
    border-radius: 10px ;
    border: 10px solid #75a9f9;
    width:75%;
    //height: 7%;
    padding-bottom:0%;
}
.item_apellido{// se definen las caracteristicas del label apellido
    background-color:#75a9f9;
    //top:20%;
    --background: #75a9f9;
    //position: absolute;
    //right:12.5%;
    border-radius: 10px ;
    border: 10px solid #75a9f9;
    width:75%;
    //height: 5%;
    padding-bottom:0%;
}
.item_correo{// se definen las caracteristicas del label del correo
    //top: 30%;
    --background: #75a9f9;
    background-color:#75a9f9;
    //position: absolute;
    //right:12.5%;
    border-radius: 10px ;
    border: 10px solid #75a9f9;
    width:75%;
    //height: 5%;
    padding-bottom:0%;
}
.item_contra{// se definen las caracteristicas de la contraseña
    //top: 40%;
    --background: #75a9f9;
    background-color:#75a9f9;
    //position: absolute;
    //right:12.5%;
    border-radius: 10px ;
    border: 10px solid #75a9f9;
    width:75%;
    //height: 5%;
    padding-bottom:0%;
}
.item_contra_Ver{// se definen las caracteristicas de la contraseña con vereficacion
    //top: 50%;
    --background: #75a9f9;
    background-color:#75a9f9;
    //position: absolute;
    //right:12.5%;
    border-radius: 10px ;
    border: 10px solid #75a9f9;
    width:75%;
    //height: 5%;
    padding-bottom:0%;
}

.item_sexo{// se definen las caracteristicas del contenido de los botones de genero
    //top: 70%;
    --background: #75a9f9;
    background-color:#75a9f9;
    //position: absolute;
    //@at-root:12.5%;
    border-radius: 10px ;
    border: 10px solid #75a9f9;
    width:75%;
    //height: 5%;
    padding-bottom:0%;
}


.Volver {// se definen las caracteristicas del boton de volver
    --background:#3d8af7;
    --background-activated:#75a9f9;
    --color:#140b0a;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 18%;
    height: 7%;
    --box-shadow:none;
  }
.control_group{// se definen las caracteristicas para el div 
    padding-left: 3%;
    padding-bottom:3%;
    padding-top:3%;
    background-color:#75a9f9;
    //position: absolute;
    //top: 60.2%;
    //right:12.5%;
    width:75%;
    border-radius: 10px ;
}
select{// se definen las caracteristicas de la caracteristica select
    border-radius: 5px ;
    background-color: #b8d5fd;
}


.Radio_sexo{// se definen las caracteristicas los botones de genero
    //top: 69.7%;
    --background: #75a9f9;
    background-color:#75a9f9;
    //position: absolute;
    //right:12.5%;
    border-radius: 10px ;
    border: 10px solid #75a9f9;
    width:75%;
    //height: 5%;
}
.labels{// se definen las caracteristicas de los labels
    font-weight: 700;
}
.controls{
    padding-top:3%
}
.Boton_Reg{// se definen las caracteristicas del boton de registro
    //position: absolute;
    //top: 80%;
    --background:#75a9f9;
    --background-activated:rgb(143, 189, 253);
    --color:#140b0a;
    //right:25%;
    padding-left: 10%;
    //width:50%;
    font-size:100% ;
    font-weight: 700;
}

.Boton_ayuda{// se definen las caracteristicas del boton de ayuda
    //position: absolute;
    padding-left: 0%;
}

