ion-toolbar {
    --background: #3d8af7;
  }
  
  ion-header {
    --ion-background-color:#3d8af7;
  }
  
  ion-content {
    --ion-background-color:#3d8af7;
  }
  .volverse{
    font-size: 330%;
  }
  ion-title{
      position: absolute;
      top: 30%;
      right: 30%;
      color: #140b0a;
  }

  .dia{
     width: 30%;
      text-align: center;
  }

  .Volver {
    --color:#140b0a;
    width: 18%;
    --box-shadow:none;
    height: 7%;
    --background: #3d8af7;
    background-color:#3d8af7;
  }

  .flechas{
    font-size: 200%;
  }

  .atra{
    --color:#140b0a;
    width: 30%;
    --box-shadow:none;
    height: 7%;
    --background: #3d8af7;
    background-color:#3d8af7;
    padding-left: 5%;
  }
 .adel{
    --color:#140b0a;
    width: 30%;
    --box-shadow:none;
    height: 7%;
    --background: #3d8af7;
    background-color:#3d8af7;
    //position: relative;
    //right: 1%;
  }

  .item-input-disabled ion-label {
    opacity: 0.9;
  }

 
  