<ion-header class="ion-no-border">
  <ion-toolbar class="ion-no-border">
    <ion-button [routerLink]="['/folder/ ']" class="Volver">
      <ion-icon class="volverse" name="arrow-back"></ion-icon>
    </ion-button>
    <ion-title class="ion-no-border">Seguimiento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content  [fullscreen]="true">
  <ion-row  style="background-color: #3d8af7;"> 
    <ion-button (click)="atras()" (click)="Imprimir_Hora()" class="atra">
      <ion-icon  class="flechas" name="arrow-back"></ion-icon>
    </ion-button>
    <ion-label class="dia">{{dias}} </ion-label>
    <ion-button (click)="Adelante()" (click)="Imprimir_Hora()" class="adel">
      <ion-icon class="flechas" name="arrow-forward"></ion-icon>
    </ion-button>
  </ion-row>

<ion-col *ngFor="let p of AlarmaHora" >
  <ion-card  color="secondary">
    <ion-item color="dark">
      <ion-icon name="hourglass-outline" slot="start"></ion-icon>
      <ion-label>{{medicamento_v}}  {{estado}} </ion-label>
    </ion-item>
    <ion-card-content>
      {{p.fecha_ini}}  {{espacio}}  
    </ion-card-content>

  </ion-card>
</ion-col>
   
</ion-content>
