ion-menu-button { // se definen las caracteristicas del boton del menu lateral
    color: #010202;
  }
  
  ion-title{ // se definen las caracteristicas del elemento title
    color: #140b0a;
  }
  ion-toolbar { // se definen las caracteristicas del tollbar
    --background: #3d8af7;
    --ion-background-color:#3d8af7;
  }
  
ion-header { // se definen las caracteristicas del header 
    --ion-background-color:#3d8af7;
    --background: #3d8af7;
}
ion-content { // se definen las caracteristicas de content
    --background: #3d8af7;
    --ion-background-color:#3d8af7;
}

ion-img{
    padding-left: 5%;
    padding-right: 5%;
}

.logo{
  padding-top: 10%;
  padding-left: 20%;
  padding-right: 20%;
}

h4{
  color:black;
  padding-left: 5%;
  padding-right: 5%;
}
h1{
  color:rgb(245, 245, 245);
  padding-left: 5%;
}

.bot_atr{

--box-shadow:none;
}
.bot_ava{

  --box-shadow:none;

}