<ion-header class="ion-no-border">
    <ion-title>Olvido contraseña</ion-title>
</ion-header>

<ion-content>
    <ion-item lines="full" >
      <ion-label class="label" position="floating">Email</ion-label>
      <ion-input class="input" type="text" #email required></ion-input>
    </ion-item>
     <ion-button  (click)="Recuperar(email)" class="boton1">Enviar </ion-button>
     <ion-button [routerLink]="['/cuenta']" class="boton2" >Presione aqui si ya tiene contraseña</ion-button>
</ion-content>
