
   
  ion-header {
    --ion-background-color:#3d8af7;
    position: absolute;
    top: 3%;
    left:0%;
  }
  
  ion-content {
    --ion-background-color:#3d8af7;
  }


  ion-item {
    --ion-background-color:#3d8af7;
    top: 15%;
    padding-left: 3%;
    padding-right: 3%;

    //left: 3%;
  } 
  .boton1 {
    position: relative;
    --background:#75a9f9;
    --background-activated:#9fc2f7;
    top: 16%;
    left: 30%;
  }
  .boton2 {
    position: relative;
    --background:#75a9f9;
    --background-activated:#9fc2f7;
    top: 16%;
    left: 30%;
  }

//hola