
  
  ion-header {
    --ion-background-color:#3d8af7;
    position: absolute;
    top: 3%;
    left:35%;
  }
  ion-content {
    --ion-background-color:#3d8af7;
  }

  .Boton_olvidar {
    --background:#3d8af7;
    --background-activated:#3d8af7;
    --color:#140b0a;
    --color-activated:#fdfdfd;
    margin: 0;
    position: absolute;
    bottom: 10%;
    right:25%;
    height: 5%;
    width:50%;
    --box-shadow:none;
    font-size: 70% ;
    font-weight: 700;
  }
  .Boton_registrarse {
    --background:#3d8af7;
    --background-activated:#3d8af7;
    --color:#140b0a;
    --color-activated:#fdfdfd;
    --box-shadow:none;
    margin: 0;
    position: absolute;
    bottom: 15%;
    right:25%;
    height: 5%;
    width:50%;
    font-size:70% ;
    font-weight: 700;
    --box-shadow:none;
  }
  .Boton_Entrar {
    --background:#75a9f9;
    --background-activated:#9fc2f7;
    --color:#140b0a;
    margin: 0;
    position: absolute;
    bottom: 41%;
    right:25%;
    height: 5%;
    width:50%;
    font-size:100% ;
    font-weight: 700;
  }

.contra{
  position: absolute;
  bottom: 50%;
  right:20%;
  border-radius: 10px ;
  padding-left: 30px ;
  padding-right: 30px;
  border: 10px solid #75a9f9;
  background: #75a9f9;
  height: 5%;
  width: 60%;
}
.user{
  position: absolute;
  bottom: 60%;
  right:20%;
  border-radius: 10px ;
  padding-left: 30px ;
  padding-right: 30px;
  border: 10px solid #75a9f9;
  background: #75a9f9;
  height: 5%;
  width: 60%;
}
.text_contra{
  position: absolute;
  bottom: 53%;
  right:20%;
  height: 5%;
  width: 60%;
  font-size:100% ;
  font-weight: 700;
}
.text_user{
  position: absolute;
  bottom: 63%;
  right:20%;
  height: 5%;
  width: 60%;
  font-size:100% ;
  font-weight: 700;
}