<ion-header class="ion-no-border">
    <ion-title>Cuenta</ion-title>
</ion-header>

<ion-content>
  <ion-col>
    <ion-row><ion-label class="text_user" id=prueba >Usuario/email:</ion-label></ion-row>
    <ion-row><ion-input class="user" placeholder="Usuario/email" #email></ion-input></ion-row>
    <ion-row class="espacio_2"></ion-row>
    <ion-row><ion-label class="text_contra">Contraseña:</ion-label></ion-row>
    <ion-row><ion-input class="contra" type= "password" placeholder="Contraseña" #password></ion-input></ion-row>
    <ion-row class="espacio_2"></ion-row>
    <ion-row class="espacio_2"></ion-row>
    <ion-row class="espacio_2"></ion-row>
    <ion-row><ion-button class="Boton_Entrar" type="submit" (click)="onLogin(email, password)">Entrar</ion-button></ion-row>
    <ion-row class="espacio"></ion-row>
    <ion-row><ion-button [routerLink]="['/registrarse']" class="Boton_registrarse">Registrarse</ion-button></ion-row>
    <ion-row><ion-button [routerLink]="['/olvido-contra']" class="Boton_olvidar">¿Olvido la contraseña?</ion-button></ion-row>
  </ion-col>
</ion-content>
