
  
  ion-header {
    --ion-background-color:#3d8af7;
    position: absolute;
    top: 3%;
    left:0%;
  }
  ion-content {
    --ion-background-color:#3d8af7;
  }

  ion-col{
    position:absolute;
    top: 30%;
    left: 12.5%;
  }

  ion-row{
    width: 75%;
    padding-bottom: 1%;
  }

  .espacio{
    padding-top: 40%;
  }
  .espacio_2{
    padding-top: 2%;
  }

  .Boton_olvidar {
    --background:#3d8af7;
    --background-activated:#3d8af7;
    --color:#140b0a;
    --color-activated:#fdfdfd;
    margin: 0;
    //position: absolute;
    //bottom: 10%;
    //right:25%;
    //height: 5%;
    //width:50%;
    padding-left: 0%;
    width:100%;
    --box-shadow:none;
    font-size: 70% ;
    font-weight: 700;
  }
  .Boton_registrarse {
    --background:#3d8af7;
    --background-activated:#3d8af7;
    --color:#140b0a;
    --color-activated:#fdfdfd;
    --box-shadow:none;
    margin: 0;
    /*position: absolute;
    bottom: 15%;
    right:25%;*/
    //height: 5%;
    padding-left: 25%;
    width:75%;
    font-size:70% ;
    font-weight: 700;
    --box-shadow:none;
  }
  .Boton_Entrar {
    --background:#75a9f9;
    --background-activated:#9fc2f7;
    --color:#140b0a;
    margin: 0;
    /*position: absolute;
    bottom: 41%;
    right:25%;*/
    //height: 5%;
    width:85%;
    padding-left: 15%;
    font-size:100% ;
    font-weight: 700;
  }

.contra{
 /* position: absolute;
  bottom: 50%;
  right:20%;*/
  border-radius: 10px ;
  padding-left: 20px ;
  padding-right: 20px;
  border: 8px solid #75a9f9;
  background: #75a9f9;
  height: 5%;
  //width: 60%;
}
.user{
  /*position: absolute;
  bottom: 60%;
  right:20%;*/
  border-radius: 10px ;
  padding-left: 30px ;
  padding-right: 30px;
  border: 8px solid #75a9f9;
  background: #75a9f9;
  height: 5%;
  //width: 60%;
}
.text_contra{
  /*position: absolute;
  bottom: 53%;
  right:20%;*/
  height: 5%;
  //width: 60%;
  font-size:100% ;
  font-weight: 700;
}
.text_user{
  /*position: absolute;
  bottom: 63%;
  right:20%;*/
  height: 5%;
  //width: 60%;
  font-size:100% ;
  font-weight: 700;
}