<ion-header class="ion-no-border">
  <ion-toolbar class="ion-no-border">
    <ion-button [routerLink]="['/folder/ ']" class="Volver">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-button>
    <ion-title>Compartimento 1</ion-title>
    <ion-button  (click)="func_borrar()" class="borrar"><ion-icon style="zoom:0.5;" name="trash-outline"></ion-icon></ion-button>
  </ion-toolbar>
</ion-header>

<ion-content  [fullscreen]="true">
    <ion-col> 
      <ion-row>
      <div class="item">
        <label class="labels" >Marca:</label>
        <ion-input disabled="{{isDisabled}}" placeholder={{place_marca}} #marca></ion-input></div>  </ion-row>
        <ion-row><div class="item">
        <label class="labels"  >Medicamento:</label>
        <ion-input disabled="{{isDisabled}}"  placeholder={{place_medicamento}}  #medicamento></ion-input></div> </ion-row>
        <ion-row><div class="item">
        <label class="labels">N° Pastillas:</label>
        <ion-input disabled="{{isDisabled}}" placeholder={{place_N_pastillas}}  #Npastilla></ion-input></div> </ion-row>
        <ion-row><div class="item">
        <label class="labels">Patillas tratamiento:</label>
        <ion-input disabled="{{isDisabled}}" placeholder={{place_pastillas_tra}}  #Ntratamiento></ion-input></div></ion-row> 
        <ion-row><div class="item">
        <label class="labels">Temperatura maxima (°C):</label>
        <ion-input disabled="{{isDisabled}}" placeholder={{place_temperatura_max}}  #temp_max></ion-input></div> </ion-row>
        <ion-row><div class="item">
        <label class="labels">Humedad maxima (%):</label>
        <ion-input disabled="{{isDisabled}}" placeholder={{place_humedad_max}}  #hum_max></ion-input></div> </ion-row>
        <ion-row> <h4>Alarma   </h4>
          <ion-button *ngIf="habilitar==true" (click)="agregar_alarma()" class="Volver">
            <ion-icon name="add-outline"  ></ion-icon>
          </ion-button>
        </ion-row>
        <!--  <ion-row><ion-button  (click)="mqtt_envio()">MQTT</ion-button></ion-row>-->
        <ion-row *ngFor="let p of miVariableHora">
          <div class="item">
            <ion-datetime displayFormat="h:mm a" [(ngModel)]="p.fecha_ini"  [disabled]="isDisabled"></ion-datetime>
          </div>
        </ion-row>

        <ion-row>
          <ion-button (click)="Boton_guardar(marca,medicamento,Npastilla,Ntratamiento,temp_max,hum_max)">{{nombre_boton}}  </ion-button>
          <ion-button (click)="leerqr()">Leer QR code</ion-button>
          <ion-button *ngIf="habilitar==true" (click)="cancelar()">Cancelar </ion-button>
        </ion-row>


    </ion-col>
</ion-content>
